/* responsive */
@media only screen and (min-width: 310px) and (max-width: 415px){
    * { padding: 0;
        margin: 0;
        box-sizing: border-box;
        color: #fff;
        text-align: left;
        
    }
    html{
        scroll-behavior: smooth;
    }
    .back-video {
        object-fit: cover;
        width: 100%;
        height: 100%;
        position:fixed;
        top: 0;
        left: 0;
        z-index: -1000;
      }
      a{
        text-decoration: none;
        font-weight: 700;
        font-style: italic;
    }
      .navbar{
        background-color: rgba(139, 212, 221, 0.3);
        border-radius: 5px;
        box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
        height: 8rem;
        margin: 1rem;
    }
    .logo img {
       width: 12rem; 
       height: 10rem;
    }
    .navbar-nav a{
        color: #fff;
    }
    .nav-link{
        letter-spacing: 1px;
        margin: 0.1rem;
    }
    .fluid-container{
        background-color:none;
        color: #fff;
        padding: 2px;
        border-radius: 5px;
        text-align:center;
        margin: 1rem 0.5rem;
        margin-left: 0.5rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width:462px;
    }
    .main_container{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 11rem 0;
        width:472px;
        background-color: none;
        flex-direction: column;
    }
    p{
        text-align: center;
        font-size: 12px;

    }
    .logos_container #main_img{
        background-color: rgba(192, 251, 255,0.8);
        display: flex;
        align-items: center;
        width: 200px;
        box-shadow: rgb(108, 126, 128) 0px 20px 30px -10px;
        border-radius: 5px;
    }
    #main_txt{
        
        background-color:none;
        color: #fff;
        padding: 1rem 7rem;
        margin: 1rem 1rem;
        border-radius: 5px;
        text-align: center;
    }
    
    
    .time-content {
        color: #fff;
        font-size: 16px;
        padding: 1rem;
        width: 279px;
    }
    
    #days, #hours, #minutes, #seconds{
        background-color: rgba(139, 212, 221, 0.3);
        box-shadow: rgb(108, 126, 128) 0px 20px 30px -10px;
        border-radius: 10px;
        padding: 10px 1rem;
        margin:15px 10px;
        color: #fff;
        text-align: center;
    }
    .launch-time {display: flex;
    font-size: 13px;
    }
    
    .launch-time div{flex-basis: 100px;}
    
    .launch-time div p{
        font-size: 12px;       
    }
    .schedule{
        margin: 2rem 3rem;
        width: 100%;
        position: relative;
        left: 10px;
    }
    .schedule tr:nth-child(odd){
    background-color: rgb(6, 48, 74);
    border-radius:10px;
    }
    .schedule td{
    padding: 1.5rem 0;
    font-size: 10px;
    text-align: center;
    }
    .schedule th{
    padding: 1.5rem 0;
    font-size: 10px;
    text-align: center;
    }
    .schedule td:nth-child(even){
        color: aqua;
        text-align: center;
    }
    footer{
        display: flex;
        flex-direction: column; 
        justify-content: center;
        align-items: center;
        padding: 2rem;
        background-color: rgba(0, 0, 0, 0.8);
    }
    footer div{
        
        margin: 2rem 5px;
        padding: 2rem;
        text-align: center;
        height: 12rem;
        width: 12rem;
        position: relative;
        right: 14px;
        
    }
    footer p{
        color: black;
    }
    .services .service-items .item{
        flex: 0 0 100%;
        max-width: 100%;
        position: relative;
        left: 8px;
    }
    .popup-box .popup-content{
        width: calc(100% - 30%);
    }

}